<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>counter</title>
</head>
<body>
<div id="app">
    <component is="home"></component>
    <!--<home></home>-->
</div>
<script src="./dist/build.js"></script>
</body>
</html>